$primary-color: #ff7e5f;
$secondary-color: #feb47b;
$text-color: #333;
$background-light: #f3f3f3;
$background-dark: #222;
$white: #fff;

$font-sm: 18px;
$font-md: 24px;
$font-lg: 32px;
$font-xl: 48px;

$shadow-light: 0 2px 10px rgba(0, 0, 0, 0.1);
$border-radius-btn: 8px;
$border-radius-card: 10px;
$spacing-sm: 10px;
$spacing-md: 15px;
$spacing-lg: 20px;
$spacing-xl: 30px;
$spacing-xxl: 50px;
$spacing-section: 100px;